.faq-block{
    width: 100%;
    /* height: 700px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.faq_wrapper {
    width: 43%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.faq__img{
    height: 600px;
    width: 38%;
    background-image:url(../img/pic2.jpg);
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.faq__panel {
    margin: 20px 0 40px 5px;
}

.faq__panel__quest {
    color: white;
    background-color: var(--light-blue);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.42);
    border-radius: 5px;
    font-size: var(--sfs);
    font-family: var(--serif);
    padding: 7px 15px;
    cursor: pointer;
}
.faq__panel__answer{
    font-size: var(--sfs);
    font-family: var(--sans-serif);
    padding: 7px;
    display: none;
    border: 2px solid black;
}
.faq_helper{
    transition: all 0.5s;
    display: block;
}