.header{
    /* background-color: var(--light); */
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 450px;
    height: 130px;
    
    /* border-radius: 10% 10% 10% 10%; */
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__img{
    width: 130px;
    height: 100%;
    background-image:url('../img/logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-text1{
    margin-left: 20px;
    font-family: var(--serif);
    font-size: calc(var(--sfs)*2);
    color: var(--light-blue);

}
.logo-text2{
    margin-left: 10px;
    font-family: var(--serif);
    font-size: calc(var(--sfs)*2);
    color: var(--light-green);
}
.nav{
    width:50%;
    display: flex;
    justify-content: space-around;
}
.nav a {
    color: var(--turquoise);
    text-decoration: none;
    font-family: var(--serif);
    font-size: calc(var(--sfs)*1.3);
    transition: all 0.5s;
    /* border:2px solid var(--dark-green); */
    padding: 3px;
    
}
.nav a:hover{
/*     color: var(--brown);
 */    /* border:2px solid black; */
    /* border-radius: 5px; */
    text-decoration: underline;
}
