*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
#shape {
    width: 200px;
    height: 200px;
    background-color: red;
    display: none;
    position: relative;
}
